<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>797774525199-a046a0u8g5f50mo6fnb62tcc1grrhk2o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.797774525199-a046a0u8g5f50mo6fnb62tcc1grrhk2o</string>
	<key>API_KEY</key>
	<string>AIzaSyACvSHM01ltOreO0SSn2a5ey4qRhkgp7xQ</string>
	<key>GCM_SENDER_ID</key>
	<string>797774525199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codeacademy.class</string>
	<key>PROJECT_ID</key>
	<string>stringtheory-6a3ed</string>
	<key>STORAGE_BUCKET</key>
	<string>stringtheory-6a3ed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:797774525199:ios:c9f41cd052b5199726847a</string>
</dict>
</plist>